MotoGP-Desktop/xml/circuito.dtd

<!ELEMENT circuito ANY>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidades CDATA #REQUIRED>
<!ELEMENT ancho (#PCDATA)>
<!ATTLIST ancho unidades CDATA #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinadorPrincipal (#PCDATA)>
<!ELEMENT referencias (enlace+)>
<!ELEMENT enlace (#PCDATA)>
<!ATTLIST enlace alt CDATA #REQUIRED>
<!ELEMENT imagenes (img+)>
<!ELEMENT img (#PCDATA)>
<!ATTLIST img  alt CDATA #REQUIRED>
<!ELEMENT videos (video+)>
<!ELEMENT video (#PCDATA)>
<!ATTLIST video tipo CDATA #REQUIRED titulo CDATA #REQUIRED>
<!ELEMENT coordenada (latitud,longitud,altitud)>
<!ELEMENT latitud (#PCDATA)>
<!ATTLIST latitud unidades CDATA #REQUIRED>
<!ELEMENT longitud (#PCDATA)>
<!ATTLIST longitud unidades CDATA #REQUIRED>
<!ELEMENT altitud (#PCDATA)>
<!ATTLIST altitud unidades CDATA #REQUIRED>

<!ELEMENT segmentos (segmento+)>
<!ELEMENT segmento (distancia,longitud,latitud,altitud)>
<!ATTLIST segmento sector (1|2|3) #REQUIRED>




<!ELEMENT vencedor (#PCDATA)>
<!ATTLIST vencedor duracion CDATA #REQUIRED>
<!ELEMENT clasificacion (piloto+)>
<!ELEMENT piloto (#PCDATA)>
<!ATTLIST piloto clasificacion (1|2|3) #REQUIRED>